@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Bu kaynağa erişiminiz yok!</p><a href="c:\users\abdul\onedrive\masaüstü\securityreglog\securityreglog\areas\identity\pages\account\accessdenied.cshtml.cs">c:\users\abdul\onedrive\masaüstü\securityreglog\securityreglog\areas\identity\pages\account\accessdenied.cshtml.cs</a>
    <a href="c:\users\abdul\onedrive\masaüstü\securityreglog\securityreglog\areas\identity\pages\account\accessdenied.cshtml">c:\users\abdul\onedrive\masaüstü\securityreglog\securityreglog\areas\identity\pages\account\accessdenied.cshtml</a>
</header>
